/* .slick-slider {  
    width: 90%;  
    margin: auto;  
  } */
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  button{
    margin:5px;
  }

  .selectedBtn{
    background-color: darkgoldenrod;
  }

  .deselectedBtn{
    background-color: green;
  }
